{%  extends 'base.html.twig' %}

{% block body %}
        <h1>Ukraine</h1>
        <div>
            {# crée une variable #}
            {% set name = "Vladimir" %}
            <h2>{{ name |length }}</h2>

            {# créer un tableau #}
            {% set colors = ["yellow","blue"]%}

            <div>{{ colors|length }}</div>

            {% for color in colors %}
            <div style ="background-color : {{ color }}">{{ color }}</div>
            {% endfor %}

            {# un objet #}
            {% set book = {
                title : 'Le capital',
                year : 1867,
                author : "Karl Marx"}
            %}
            <h3>{{ book.author }}</h3>
            <div>
                {% for key, val in book %}
                    <div>{{ key  }} : {{ val }}</div>
                {% endfor %}
            </div>
        </div>
{% endblock %}

{% block title %} {{ parent()}} | testounet{%  endblock %}